/* src/pages/LoginPage.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .formContainer {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .loginTitle {
    text-align: center;
  }
  
  .submitButton {
    width: 100%;
  }
  