.dsWrap {
  /* background-color: #ffd700; */
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  /* background: radial-gradient(circle at 6.4% 9.8%, rgb(88, 242, 174) 0%, rgb(0, 130, 240) 97.9%); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 40rem;
  /* min-height: 20rem; */
  border-radius: 1rem;
  overflow: hidden;
  color: black;
  border-top: 1px solid rgb(86, 232, 245);
}
.dsHead {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.5rem;
  /* padding: 1% 0%; */
}
.dsAmt {
  /* color: #ffd700; */
  color: rgb(86, 232, 245);
  font-size: 2.5rem;
}
.dsCont {
  padding: 0% 1%;
  display: flex;
  flex-direction: column;
  min-height: 8rem;
  margin-top: 3%;
  /* border: 1px solid black; */
}
.dsCont h2 {
  font-size: 1.5rem;
  flex: 1;
  /* border: 1px solid red; */
}
.dsButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  padding: 2%;
}

.dsButton a {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.853);
  padding: 1rem 2rem;
  border-radius: 9999px;
  font-size: 1rem;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.dsTimeCont {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* border: 1px solid red; */
}
.dsTime {
  color: red;
  font-weight: 600;
  font-size: 1.5rem;
  /* border: 1px solid black; */
}
.hurry {
  font-weight: 500;
  font-size: 1.2rem;
  /* border: 1px solid rgb(0, 13, 255); */
}

@media (max-width: 768px) {
  .dsWrap {
    min-width: 20rem;
  }

  .dsCont h2 {
    font-size: 1.2rem;
  }

  .dsTime {
    font-size: 1.1rem;
  }
  .hurry {
    font-size: 1rem;
  }
}
