.testWrap {
  overflow: hidden;
  padding-bottom: 5%;
  position: relative;
  color: black;
}
.testHead {
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  margin-bottom: 2%;
  color: white;
  display: flex;
  flex-direction: column;
}
.testHead p {
  font-family: "Whisper", cursive;
}

.testSubHead {
  font-size: 1.8rem;
}
.ninetyTf {
  color: #04befe;
  font-weight: 700;
  font-size: 2.2rem;
}
.testFoot {
  display: flex;
  gap: 10%;
  max-width: 300px;
  animation: scroll 50s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-820%);
  }
}

.testimonial {
  border-radius: 1rem;
  padding: 5%;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.testImgCont img {
  max-width: 300px;
  max-height: 200px;
  border-radius: 1rem;
}
.testFoot::after {
  content: "";
  flex: 0 0 auto;
  width: 100%;
  visibility: hidden;
}
.testRevCont {
  text-align: left;
  font-weight: 600;
}
@media (max-width: 425px) {
  .testHead {
    font-size: 3rem;
    margin-bottom: 8%;
  }
  .testHead p {
    padding: 0;
  }
}
